<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span></span> Hypem Playlistr
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-show="currentUserHypem == null" ng-click="login()">Log In</a></li>
        <li><a ng-show="currentUserHypem == null" ng-click="signup()">Sign Up</a></li>
        <li><a ng-show="currentUserHypem != null" ng-click="logout()">Log Out</a></li>
        <li ng-show="currentUserHypem != null"><a>Logged in as {{currentUserHypem}}</a></li>
      </ul>
    </div>
  </div>
</nav>
